<mat-toolbar class="z-3 position-sticky top-0" color="primary">
  @if (bio$ | async; as bio) {
    <button
      data-testid="home-button"
      type="button"
      mat-button
      routerLink="/"
      fragment="home">
      <span data-testid="first-name" class="fs-4 fw-bold">{{
        bio.firstName
      }}</span>
      <span data-testid="last-name" class="fs-4 fw-light">{{
        bio.lastName
      }}</span>
    </button>
  }

  <span class="spacer"></span>

  @for (item of navItems; track item) {
    <button
      data-testid="nav-items"
      class="fs-5 px-3"
      mat-button
      [routerLink]="item.path"
      [fragment]="item.fragment">
      {{ item.title }}
    </button>
  }
</mat-toolbar>
