@if (bio$ | async; as bio) {
<div class="container d-flex align-items-center min-vh-100">
  <img class="mx-4" [src]="bio.profile" alt="profile"/>
  <div>
    <h1>
      Hello. My name is
      <span class="fw-bold">
        {{ bio.firstName }} {{ bio.lastName }}
      </span>
    </h1>
    @for (par of bio.about; track par) {
    <h5>{{ par }}</h5>
    }
    <hr class="border border-primary opacity-50 mx-5">
    <div class="d-flex justify-content-center">
      @for (con of bio.contact; track con) {
      <a mat-icon-button [href]=con.link>
        <mat-icon [fontSet]="con.iconSet" [fontIcon]="con.icon"></mat-icon>
      </a>
      }
    </div>
  </div>
</div>
}
